*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'sans-serif';
}

/* Tags */

ul{
    list-style: none;
}

ul li a{
    text-decoration: none;
}

header{
    background-color: #1225A7;
    min-height: 100px;
    align-items: center;
}

header .list-items{
    display: flex;
}

/* Classes */


.flex-container{
    display: flex;
    width: 100%;
    margin: auto;
}

.row{
    flex-direction: row;
}

.menu{
    justify-content: space-between;
}

